# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Static
staticfiles/

# Media
media/

# Logs
*.log

# macOS
.DS_Store